.UserTopItemsContainer{
    display: flex;
    flex-direction: column;
    
}

.ArtistListContainer{
    display: flex;
    justify-content: center;
}

#ArtistHeader {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 10px; 
   margin-bottom: 10px; 
}

#ArtistsLabel {
    margin-right: 10px;
}

.TrackListContainer{
    display: flex;
    justify-content: center;
}

#TracksHeader {
   display: flex;
   align-items: center;
   justify-content: space-between; 
   margin-top: 10px; 
   margin-bottom: 10px;
}

#TracksLabel {
    margin-right: 10px;
}

#MostRecentlyPlayedHeader{
    display: flex;
}

#MostRecentlyPlayedLabel{
    margin-top: 10px;
    margin-bottom: 10px;
}