.Content {
    width: 90vw;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  