.App {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  justify-content: center;
}

.Content {
  width: 80vw;
}

li{
  list-style-type: decimal;
}

label{
  font-weight: bold;
}